<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤드-->
<th:block th:replace="../common/fragment/head :: headFragment"></th:block>

<body class="bg-gradient-light">

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                        </div>
                        <form action="#" method="post" id="registerForm">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="exampleLastName"
                                           name="exampleLastName" placeholder="성">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                           name="exampleFirstName" placeholder="이름">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                       name="exampleInputEmail" placeholder="이메일">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                           id="exampleInputPassword" name="exampleInputPassword" placeholder="비밀번호">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                           id="exampleRepeatPassword" name="exampleRepeatPassword" placeholder="비밀번호 재확인">
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary btn-user btn-block" id="btnRegister">
                                회원가입
                            </a>
                            <hr>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="/auth/login">이미 계정이 있나요? 로그인</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 공통 스크립트-->
<th:block th:replace="../common/fragment/script :: scriptFragment"></th:block>

<script type="text/javascript">

    /**
     * 초기함수
     */
    initFunction = function (param) {
        // 이벤트처리
        eventFunction(param);
    }

    /**
     * 이벤트처리
     */
    eventFunction = function (param) {
        // 유효성
        $("#registerForm").validate({
            rules: {
                exampleLastName: {
                    required: true
                },
                exampleFirstName: {
                    required: true
                },
                exampleInputEmail: {
                    required: true
                },
                exampleInputPassword: {
                    required: true
                },
                exampleRepeatPassword: {
                    required: true
                }
            },
            messages: {
                exampleLastName: {
                    required: "성을 입력해주세요."
                },
                exampleFirstName: {
                    required: "이름을 입력해주세요."
                },
                exampleInputEmail: {
                    required: "이메일을 입력해주세요."
                },
                exampleInputPassword: {
                    required: "비밀번호를 입력해주세요."
                },
                exampleRepeatPassword: {
                    required: "비밀번호 재확인을 입력해주세요."
                }
            }
        });

        // 로그인
        $("#btnRegister").unbind().bind("click", function () {
            let valid = $("#registerForm").valid();
            if (valid) {
                var p = $("#registerForm").getFormData();
                custom.util.ajax({
                    url: "",
                    param: p,
                    callback: function (result) {
                        if (result.rstCd == 0) {

                        } else {
                            $.alert(result.rstMsg);
                            return;
                        }
                    }
                });
            }
        });

        // Enter
        custom.util.enter({
            target: ["exampleLastName", "exampleFirstName", "exampleInputEmail", "exampleInputPassword", "exampleRepeatPassword"],
            trigger: "btnRegister"
        })
    }

</script>

</body>

</html>