<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<!-- Sidebar -->
<th:block th:fragment="sidebarFragment">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">WIKIDOCS</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            서비스
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-book-open"></i>
                <span>도서</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">카테고리:</h6>
                    <a class="collapse-item" href="#">추천책</a>
                    <a class="collapse-item" href="#">공개책</a>
                    <a class="collapse-item" href="#">전자책</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Dictionary -->
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-sticky-note"></i>
                <span>용어사전</span>
            </a>
        </li>

        <!-- Nav Item - Discord -->
        <li class="nav-item">
            <a class="nav-link" href="https://discord.gg/zPERvk7pza">
                <i class="fas fa-fw fa-voicemail"></i>
                <span>디스코드</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            인터페이스
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-code"></i>
                <span>데모</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">카테고리:</h6>
                    <a class="collapse-item" href="/auth/buttons">Buttons</a>
                    <a class="collapse-item" href="/auth/cards">Cards</a>
                    <a class="collapse-item" href="/auth/illustrations">Illustrations</a>
                    <a class="collapse-item" href="/auth/404">404</a>
                    <a class="collapse-item" href="/auth/blank">Blank</a>
                    <a class="collapse-item" href="/auth/charts">Charts</a>
                    <a class="collapse-item" href="/auth/tables">Tables</a>
                    <a class="collapse-item" href="/auth/utilities-animation">Utilities-Animation</a>
                    <a class="collapse-item" href="/auth/utilities-border">Utilities-Border</a>
                    <a class="collapse-item" href="/auth/utilities-color">Utilities-Color</a>
                    <a class="collapse-item" href="/auth/utilities-other">Utilities-Other</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
</th:block>

</html>